  <footer class="ns-section-main">
    <div class="ns-section-wrapper">
      <div id="ns-footer-left">
        <!-- &copy; {{nsStateMachine.currentYear}} LolTemplater. All rights reserved. -->
        <div
          class="fb-like"
          data-share="true"
          data-width="450"
          data-show-faces="true">
        </div>
      </div>
      <!-- #ns-footer-left -->
      <div id="ns-footer-right">
        &copy; {{nsStateMachine.currentYear}} LolTemplater. All rights reserved.
      </div>
      <!-- #ns-footer-right -->
    </div>
    <!-- .ns-section-wrapper -->
  </footer>
  <!-- footer.ns-section-main -->