

  <section class="ns-section-main">
    <div class="ns-section-wrapper">

      <div id="edit-champion-header" style="margin-top: 20%;">
        <h1 class="ns-header-basic">Thanks for checking out LolTemplater!</h1>
      </div>
      <!-- #edit-champion-header -->

      <p class="introduction">
        LolTemplater is an app that helps you exercise your creativity in creating new League of Legends champions. New features outlined in the <a href="/roadmap">project roadmap</a> are in the pipeline, including the ability to share your favorite templates with other League of Legends players. Currently, this app is in its <strong>BETA PHASE</strong> (v0.01), so there is a lot of room for improvement. If you have any suggestions for features, feel free to Tweet us at <a href="https://twitter.com/loltemplater">@loltemplater</a>.
      </p>
      <!-- p.introduction -->

    </div>
    <!-- .ns-section-wrapper -->
  </section>
  <!-- section.ns-section-main -->

