

  <section class="ns-section-main">
    <div class="ns-section-wrapper">

      <div id="edit-champion-header">
        <h1 class="ns-header-basic">Project Roadmap</h1>
      </div>
      <!-- #edit-champion-header -->

      <ul class="roadmap">
        <li>Move champion data storage to the cloud (currently it stores locally on your computer).</li>
        <li>Related to above, add in user accounts with champion template management.</li>
        <li>Add in ability to view and rate champions made by other players.</li>
        <li>Improve site usability on tablets, phones, and other touch devices.</li>
        <li>Add in champion view-only page.</li>
        <li>Revisit general application UI/UX.</li>
        <li>Add in icons.</li>
        <li>Add in ability to download/export champion data.</li>
        <li>Debug issue with certain textarea backgrounds disappearing.</li>
        <li>Clean up code.</li>
        <li>Add in ability to populate a champion template with a basic champion, such as Annie.</li>
      </ul>
      <!-- ul#roadmap -->

      <hr />

      <h3 class="ns-header-basic" style="padding-top: 20px;">v0.01 Changelog (6/20/16)</h3>

      <ul class="roadmap">
        <li>App created with basic create/edit/list champion template functionality.</li>
      </ul>
      <!-- ul#roadmap -->

    </div>
    <!-- .ns-section-wrapper -->
  </section>
  <!-- section.ns-section-main -->

