  <section class="ns-section-main">
    <div class="ns-section-wrapper">

      <div id="edit-champion-header">
        <h1 class="ns-header-basic">View Champion</h1>
<!--         <button class="ns-button ns-button-line ns-button-line-red" ng-click="startOverWithBlankChampionTemplate();">Clear Champion</button>
        <button class="ns-button ns-button-line" type="submit" ng-click="saveChampion();">Save Champion</button> -->
      </div>
      <!-- #edit-champion-header -->














    </div>
    <!-- .ns-section-wrapper -->
  </section>
  <!-- section.ns-section-main -->






